.background-red {
	background-color: red;
}

.background-orange {
	background-color: orange;
}

.background-darkOrange {
	background-color: DarkOrange;
}

.background-green {
	background-color: Chartreuse;
}