body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.background-red {

	background-color: red;

}



.background-orange {

	background-color: orange;

}



.background-darkOrange {

	background-color: DarkOrange;

}



.background-green {

	background-color: Chartreuse;

}